<mat-card>
  <mat-toolbar>Cadastrar Veículos</mat-toolbar>
  <form>
    <mat-form-field>
        <mat-label>Marca</mat-label>
        <input matInput name="vehicleBrand" [(ngModel)]="vehicle.vehicleBrand" >
    </mat-form-field>
  
    <mat-form-field>
        <mat-label>Modelo</mat-label>
        <input matInput name="vehicleModel" [(ngModel)]="vehicle.vehicleModel">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cor</mat-label>
        <input matInput name="color" [(ngModel)]="vehicle.color">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Ano de Fabricação</mat-label>
        <input matInput name="year" [(ngModel)]="vehicle.year">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Placa</mat-label>
        <input matInput name="licensePlate" [(ngModel)]="vehicle.licensePlate">
      </mat-form-field>
  </form>
  <button mat-raised-button (click)="insertVehicle()">Adicionar Veículo</button>
</mat-card>

<div class="table-container">
  <mat-toolbar>Veículos</mat-toolbar>
  <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Código do Carro </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.id}} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleBrand">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.vehicleBrand}} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleModel">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.vehicleModel}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Cor </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.color}} </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Ano </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.year}} </td>
  </ng-container>

  <ng-container matColumnDef="licensePlate">
    <th mat-header-cell *matHeaderCellDef> Placa</th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.licensePlate}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Opção</th>
    <td *matCellDef="let vehicles">
      <button mat-raised-button class="del-btn">Excluir</button>
    </td>
  </ng-container>
 

  <tr mat-header-row *matHeaderRowDef="displayedColumnsVehicles"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsVehicles;"></tr>
</table>
</div>
