.table-container {
  margin: 20px;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  background-color: rgb(24, 55, 141);
  color: white;
}

mat-card {
  margin: 20px;
  align-items: center;
  padding-bottom: 20px;
}

mat-form-field {
  margin: 20px;
}

.del-btn {
  background-color: rgb(226, 54, 54);
}