<div class="table-container">
  <mat-toolbar>Buscar Veículos Disponíveis</mat-toolbar>
  <form>
    <mat-form-field>
      <mat-label>Data de início</mat-label>
      <input matInput type="date" name="beginningDate" [(ngModel)]="reservation.beginning">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data de término</mat-label>
      <input matInput type="date" name="endDate" [(ngModel)]="reservation.end">
    </mat-form-field>
    <button mat-raised-button (click)="getAvailableVehicles()">Buscar</button>
  </form>

  <table mat-table [dataSource]="availableVehicles" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código do Carro </th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.id}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleBrand">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.vehicleBrand}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleModel">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.vehicleModel}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Cor </th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.color}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Ano </th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.year}} </td>
    </ng-container>

    <ng-container matColumnDef="licensePlate">
      <th mat-header-cell *matHeaderCellDef> Placa</th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.licensePlate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Opção</th>
      <td *matCellDef="let vehicles">
        <button mat-raised-button (click)="insertReservation(vehicles.id)" class="reservation-btn">Reservar</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsVehicles"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsVehicles;"></tr>
  </table>
</div>

<div class="table-container">
  <mat-toolbar>Minhas Reservas</mat-toolbar>
  <div class="loading-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="reservations" class="mat-elevation-z8" *ngIf="!loading">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código da Reserva </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.id}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleBrand">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.vehicleBrand}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleModel">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.vehicleModel}} </td>
    </ng-container>

    <ng-container matColumnDef="beginning">
      <th mat-header-cell *matHeaderCellDef> Início </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.beginning}} </td>
    </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> Fim </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.end}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Opção</th>
      <td *matCellDef="let reservation">
        <button mat-raised-button class="del-btn" (click)="deleteReservation(reservation.id)">Concluir Reserva</button>
      </td>
    </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>